Options -Indexes +ExecCGI
AddHandler cgi-script .pl
DirectoryIndex awstats.pl

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.shop-ai.vn$ [NC]
RewriteRule ^(.*)$ http://shop-ai.vn/awstats/$1 [R=301,L]
