/vendor/
/node_modules/
/storage/
/bootstrap/cache/
/content/uploads/
/logs/
/backups/
__MACOSX/
.DS_Store
.idea/
.vscode/
.env
*.sql
*.zip
*.tar
*.tar.gz
*.log
error_log
shopai.zip
/public/uploads
composer.phar
