/vendor/
/node_modules/
/storage/
/bootstrap/cache/
/content/uploads/
/content/themes/default/templates_compiled/
/Script/content/themes/default/templates_compiled/
/logs/
/backups/
error_log
shopai.zip
*.log
*.sql
*.tar.gz
.env
